<div id="slider">
    <ul>
        <li><img class="imagenHome" src="../../assets/images/SlideHero.png" alt="" /></li>
        <li><img class="imagenHome" src="../../assets/images/slide2.png" alt="" /></li>
        <li><img class="imagenHome" src="../../assets/images/Slide3.png" alt="" /></li>
    </ul>
    <div class="texto-encima">
        <h5 class="titulo3">EL MEJOR LUGAR PARA</h5>
        <h3 class="titulo2">ESCUCHAR MUSICA</h3>
        <img src="../../assets/images/logo_BitMusic.png">

        <br />
        <br />
        <button routerLink="/form-registro" class="youtube">REGISTRO</button>
        <button routerLink="/login" class="youtube">INICIAR SESION</button>

    </div>
</div>
