<link href="https://fonts.googleapis.com/css?family=Great+Vibes|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
<div class="contenedorCrear">
    <div class="tituloListaCanciones">
        <img src="../../assets/images/flecha-izq.png" alt="">
        <h2>Actualizar Canción</h2>
        <img src="../../assets/images/guardar.png" width="30px" height="30px" alt="">
    </div>
    <div class="datosDeIngreso">
        <input class="nombreCancion" type="text" placeholder="Titulo">
        <select class="genero" name="genero">
            <option>Salsa</option>
            <option>Rock</option>
            <option>Pop</option>
            <option>Vallenato</option>
            <option>Electronica</option>
            <option>Gospel</option>
            <option>Metal</option>
            <option>Ranchera</option>
            <option>Rap</option>
            <option>Merengue</option>
        </select>
        <input class="artista" type="text" placeholder="Artista">
        <input class="archivo" type="file" accept="audio/mpeg3">
    </div>
</div>