<link href="https://fonts.googleapis.com/css?family=Great+Vibes|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
<div class="informacionPerfil">
    <div class="tituloInformacion"> <b>INFORMACION DEL USUARIO</b> </div>
    <div class="infousuario">
        <div class="info">
            <div><label for="">NOMBRE: </label></div>
            <div><label for="">EDAD: </label></div>
            <div><label for="">CORREO: </label></div>
            <div><label for="">PASSWORD: </label></div>
            <div><label for="">ROLE: </label></div>
        </div>

        <div class="inputs">
            <div><input class="inputPerfil" type="text" size="50px"></div>
            <div><input class="inputPerfil" type="text" size="50px"></div>
            <div><input class="inputPerfil" type="text" size="50px"></div>
            <div><input class="inputPerfil" type="text" size="50px"></div>
            <div><input class="inputPerfil" type="text" size="50px"></div>
        </div>
    </div>
    <div class="botones">

        <div></div>
        <div>
            <button>ACTUALIZAR</button>
        </div>

    </div>
    <div>
        <a href="perfil.html">INFORMACION USUARIO</a>
        <br>
        <a href="index.html">CERRAR SESION</a>
    </div>

</div>