<div class="contenedorListadoUsuarios">
  <div class="tituloListaUsuarios">
    <h2>Lista De Usuarios</h2>
  </div>
  <div class="buscadorListaUsuarios">
    <input class="buscadorUsuario" type="text" placeholder="Buscar usuario" [(ngModel)]="textoBuscado" (ngModelChange)="buscar()" >
  </div>
  <div class="listaUsuarios">
    <div class="usuario" *ngFor="let usuario of listadoUsuarios">
      <img width="30px" height="30px" src="../../assets/images/user.png" alt="">
      <h3>{{usuario.nombre}}</h3>
      <h6>{{usuario.correo}}</h6>
      <div class="editores">
        <a *ngIf="usuarioActual._id !== usuario._id" (click)="eliminarUsuario(usuario._id)"><img src="../../assets/images/eliminar.png" alt=""></a>
        <a routerLink="/info-perfil/{{usuario._id}}"><img src="../../assets/images/icons8-editar-archivo-26.png" alt=""></a>
      </div>
    </div>
  </div>
  <div>
    <button routerLink="/descarga">Volver</button>
  </div>
</div>
