<link
  href="https://fonts.googleapis.com/css?family=Great+Vibes|ZCOOL+XiaoWei&display=swap"
  rel="stylesheet"
/>
<form [formGroup]="registroForm" (ngSubmit)="enviar(registroForm.value)">
  <div class="informacionRegistro">
    <div class="tituloRegistro"><b>REGISTRO</b></div>
    <div>
      <div>
        <input
          formControlName="nombre"
          class="inputRegistro"
          type="text"
          placeholder="NOMBRE"
        />
      </div>
      <div>
        <input
          formControlName="edad"
          class="inputRegistro"
          type="text"
          placeholder="EDAD"
        />
      </div>
      <div>
        <input
          formControlName="correo"
          class="inputRegistro"
          type="text"
          placeholder="CORREO"
        />
      </div>
      <div>
        <input
          formControlName="password"
          class="inputRegistro"
          type="password"
          placeholder="CONTRASEÑA"
        />
      </div>
    </div>

    <div>
      <button
        [disabled]="registroForm.invalid"
        class="botonRegistro"
        type="submit"
      >
        REGISTRARSE
      </button>
    </div>
  </div>
</form>
