<!-- <header></header>
<descarga></descarga>
<reproduccion></reproduccion>

<router-outlet></router-outlet>
<info-perfil></info-perfil>
<actualizar-cancion></actualizar-cancion> -->

<!-- <crear-cancion></crear-cancion> -->
<!-- <login></login>
<form-registro></form-registro>
<cuenta-administrador></cuenta-administrador> -->
<div>dddd
    <ul>
        <li routerLinkActive="red">
            <a routerLink="/Inicio">Home</a>
        </li>
        <li routerLinkActive="blue">
            <a routerLink="/CrearCancion">Crear canción</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>