<link href="https://fonts.googleapis.com/css?family=Great+Vibes|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
<div class="informacionRegistro">
    <div class="tituloRegistro"> <b>REGISTRO</b> </div>
    <div>
        <div><input class="inputRegistro" type="text" placeholder="NOMBRE"></div>
        <div><input class="inputRegistro" type="text" placeholder="EDAD"></div>
        <div><input class="inputRegistro" type="text" placeholder="CORREO"></div>
        <div><input class="inputRegistro" type="text" placeholder="CONTRASEÑA"></div>

    </div>

    <div>
        <button class="botonRegistro">REGISTRARSE</button>
    </div>

</div>