<link href="https://fonts.googleapis.com/css?family=Great+Vibes|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
<div class="contenedor">
    <div>
        <img src="../../assets/images/logo_BitMusic.png" alt="">
    </div>
    <div>
        <div class="tituloListaCanciones">
            <img src="" alt="">
            <h2>Busca Tu Cancion</h2>
            <img src="" alt="">
        </div>
        <div class="buscadorListaCanciones">
            <input type="search" class="buscador" placeholder="Que quieres descargar" size="100%">
            <button class="botonDescargar">DESCARGAR</button>
        </div>
        <div class="listadoDeCanciones">

        </div>
    </div>
    <div class="perfil"><img class="fotoPerfil" src="../../assets/images/woman-1149911__340.jpg" width="110PX"
            height="110px">

        <img src="../../assets/images/icons8-menú-redondeado-30.png" width="30px" height="30px">
    </div>



</div>