<link
  href="https://fonts.googleapis.com/css?family=Great+Vibes|ZCOOL+XiaoWei&display=swap"
  rel="stylesheet"
/>
<form class="iniciarsesion" #f="ngForm" (ngSubmit)="login(f.value)">
  <div class="tituloIniciar"><b>INICIAR SESIÓN</b></div>
  <div>
    <div>
      <input
        ngModel
        class="inputIniciar"
        type="text"
        placeholder="CORREO ELECTRONICO"
        name="email"
      />
    </div>
    <div>
      <input
        ngModel
        class="inputIniciar"
        type="password"
        placeholder="CONTRASEÑA"
        name="pw"
      />
    </div>
  </div>
  <div>
    <button type="submit" class="botonIniciar">INICIAR</button>
    <button routerLink="/" class="botonIniciar">Volver</button>
  </div>
</form>
